.button-container {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This will make the container take the full viewport height */
    flex-direction: column; /* This will stack the buttons vertically */
    
  }
  
  .play-button {
    width: 200px;
    height: 50px;
    background-color: #000000;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 10px; /* This will give some space between the buttons */
    padding: 10px 20px; /* This will give some space inside the buttons */
    font-size: 16px; /* This will make the text inside the buttons larger */
  }
  
  .play-button:hover {
    background-color: #AF6915;
  }
